@model SOPasswordManager.Models.ClientContactsModel
@{
    ViewData["Title"] = "Client Contacts";
}
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string UserName = HttpContextAccessor.HttpContext.Session.GetString("Member_Name");
    string RoleName = HttpContextAccessor.HttpContext.Session.GetString("RoleName");
}
<link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@if (RoleName == "Admin")
{
    <section class="content-header">
        <h1>
            Contacts
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboad")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">  Contacts</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> Contacts</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped" cellspacing="0" width="100%"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    <div id="divClientContactAdd" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div id="myModalContent" class="modal-content ">
            </div>
        </div>
    </div>


    @section Scripts{
        @*<script src="~/js/jquery.dataTables.min.js"></script>*@
        @*<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>*@
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="~/js/dataTables.bootstrap.min.js"></script>
        <script src="~/js/DataTableCommon.js"></script>
        <script type="text/javascript">



    var isAddmsg = '@TempData["ClientContactAddSuccess"]';
        if (isAddmsg != "") {
            showNotification('top', 'center', isAddmsg);
    }
    var isEditMsg = '@TempData["ClientContactEditSuccess"]';
    if (isEditMsg != "")
    {
        showNotification('top', 'center', isEditMsg);
    }

    var columns;
    $(document).ready(function () {
    columns = [
        { "title": "Id", "data": "Contact_ID", "visible": false, "searchable": false },
        { "title": "Name", "data": "Name", "name": "C.Name" },
        { "title": "Surname", "data": "Surname", "name": "C.Surname" },
        { "title": "Email 1", "data": "Email1", "name": "C.Email1" },
        { "title": "Email 2", "data": "Email2", "name": "C.Email2" },
        { "title": "Phone 1", "data": "PhoneNumber1", "name": "C.PhoneNumber1" },
        { "title": "Phone 2", "data": "PhoneNumber2", "name": "C.PhoneNumber2" },
        { "title": "Notes", "data": "Notes", "name": "C.Notes" },
        {
            "bSortable": false, "className": "text-center", "searchable": false, "title": "Action", "render": function (data, type, full, meta)
            {

                var url = "@Url.Action("AddClientContact", "ClientContacts")/" + full.Contact_ID;
                var aa = "";
                var aa = "<a data-tooltip='true' data-toggle='tooltip' title='Edit'  class='btn btn-sm btn-primary' onclick=\"OpenPopup('divClientContactAdd', 'myModalContent','" + url + "', 'AddClientContactForm')\"> <i class='fa fa-edit'></i ></a >";
                aa += " <a data-tooltip='true' data-toggle='tooltip' title='Delete'  class='btn btn-sm btn-danger' onclick=funcDeleteClientContact(" + full.Contact_ID + ") >";
                aa += "<i class='fa fa-trash'></i></a >";
                return aa;
            }
        }
    ];

    $('#example').createGrid({
            responsive: true,
            Columns: columns,
            Mode: 'ClientContacts',
            SortColumn: '0',
            SortOrder: 'desc',
            OnAdd: function () {
                var url = '@Url.Action("AddClientContact", "ClientContacts")';
                OpenPopup('divClientContactAdd', 'myModalContent', url, 'AddClientContactForm');
            },
            GrdLabels: null,
    });
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function funcDeleteClientContact(contactId)
    {
        debugger
        bootbox.confirm({
        message: 'Are you sure want to delete this record?',
        buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn-success'
                } ,
                'cancel': {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
        callback: function (result)
        {
            if (result)
            {
                $.ajax({
                    async: true,
                    url: '@Url.Action("DeleteClientContact", "ClientContacts")',
                    type: 'POST',
                    data: ({ 'contactId': parseInt(contactId) }),
                    success: function (result)
                    {
                        if (result.success == true) {
                                BindGridData()
                                showNotification('top', 'center', result.message)
                            }
                        else {
                                showErrorNotification('top', 'center', result.message)
                            }
                        }
                });
            }
        }
        });
    }

    function BindGridData()
    {
        if ($.fn.DataTable.isDataTable('#example')) {
            $('#example').DataTable().destroy();
        }
        $('#example').createGrid({
            responsive: true,
            Columns: columns,
            Mode: 'ClientContacts',
            SortColumn: '0',
            SortOrder: 'desc',
            OnAdd: function () {
                var url = '@Url.Action("AddClientContact", "ClientContacts")';
                OpenPopup('divClientContactAdd', 'myModalContent', url, 'AddClientContactForm');
            },
            GrdLabels: null,
         });
    }


    function funcClose() {
        $('#divClientContactAdd').modal('hide');
    }
        </script>
    }

}
else
{
    @Html.Partial("~/Views/Shared/_UnAuthorized.cshtml");
}