@model SOPasswordManager.Repo.DTO.CredentialsDataViewModel
<style>
    .list-box-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }
</style>
<div class="modal fade" id="credentialsModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Credentials</h4>
            </div>
            <div class="modal-body text-left">
                @if (Model.URL != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-box-view">
                                @if (Model.URL.Contains("https://") || Model.URL.Contains("http://"))
                                {
                                    <h4><i class="fa fa-link" id="urli"></i> URL : <a href="@Model.URL" target="_blank" id="urls">@Model.URL</a></h4>
                                }
                                else
                                {
                                    <h4><i class="fa fa-link" id="urli"></i> URL : <a href="http://@Model.URL" target="_blank" id="urls">@Model.URL</a></h4>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">
                        <div class="list-box-view">
                            <h4><i class="fa fa-user"></i> User Name : <span id="spnUserName" style="color: #7b9298;">@Model.UserName</span></h4>
                            <button class="btn btn-default btn-xs" onclick="copyToClipboard('#spnUserName')">Copy</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="list-box-view">
                            <h4><i class="fa fa-lock"></i> Password : <span id="spnPassword" style="color: #7b9298;">@Model.Password</span></h4>
                            <button class="btn btn-default btn-xs" onclick="copyToClipboard('#spnPassword')">Copy</button>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-box-view">
                            <h4><i class="fa-audio-description"></i> Description : <span style="color: #7b9298;">@Model.Description</span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        if (element == '#spnUserName') {
            showNotification('top', 'center', "UserName Copied")
        }
        else {
            showNotification('top', 'center', "Password Copied")
        }
    }
   
</script>